.delete-button {
    background-color: red;
    border-width: 0px;
}

.todo-name {
    align-self: center;
    padding-left: 10px;
    font-weight: bold;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
