@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');


.bg-container {
  background-color: wheat;
  padding: 20px;
  height: 100vh;
}


.todo-container {
  margin: auto;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
}

.heading {
  padding-top: 30px;
  padding-left: 30px;
}
input {
  height: 35px;
  width: 350px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  padding-left: 10px;
}

